{% extends 'base.html' %}
{% block content%}
</br>
<div class="card">
  <div class="card-header">
    {{ customer_record.first_name }} {{ customer_record.last_name }}
  </div>
  <div class="card-body">
    <p class="card-text">Email:{{ customer_record.email }}</h5>
    <p class="card-text">Phone:{{ customer_record.phone }}</h5>
    <p class="card-text">Address:{{ customer_record.address }}</h5>
    <p class="card-text">City:{{ customer_record.city }}</h5>
    <p class="card-text">State:{{ customer_record.state }}</h5>
    <p class="card-text">Zipcode:{{ customer_record.zipcode }}</h5>
    <p class="card-text">Created at:{{ customer_record.created_at }}</h5>
  </div>
</div>
</br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
{% endblock %}